<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Teacher</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>com.teacher.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ajay</display-name>
    <servlet-name>Ajay</servlet-name>
    <servlet-class>com.teacher.Ajay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajay</servlet-name>
    <url-pattern>/Ajay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bijay</display-name>
    <servlet-name>Bijay</servlet-name>
    <servlet-class>com.teacher.Bijay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bijay</servlet-name>
    <url-pattern>/Bijay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cijay</display-name>
    <servlet-name>Cijay</servlet-name>
    <servlet-class>com.teacher.Cijay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cijay</servlet-name>
    <url-pattern>/Cijay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dijay</display-name>
    <servlet-name>Dijay</servlet-name>
    <servlet-class>com.teacher.Dijay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dijay</servlet-name>
    <url-pattern>/Dijay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Eijay</display-name>
    <servlet-name>Eijay</servlet-name>
    <servlet-class>com.teacher.Eijay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Eijay</servlet-name>
    <url-pattern>/Eijay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.teacher.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseConnect</display-name>
    <servlet-name>DatabaseConnect</servlet-name>
    <servlet-class>com.connection.DatabaseConnect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseConnect</servlet-name>
    <url-pattern>/DatabaseConnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyBean</display-name>
    <servlet-name>MyBean</servlet-name>
    <servlet-class>com.bean.MyBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyBean</servlet-name>
    <url-pattern>/MyBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyDao</display-name>
    <servlet-name>MyDao</servlet-name>
    <servlet-class>com.dao.MyDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyDao</servlet-name>
    <url-pattern>/MyDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherLogin1</display-name>
    <servlet-name>TeacherLogin1</servlet-name>
    <servlet-class>com.teacher.TeacherLogin1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherLogin1</servlet-name>
    <url-pattern>/TeacherLogin1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherLogin2</display-name>
    <servlet-name>TeacherLogin2</servlet-name>
    <servlet-class>com.teacher.TeacherLogin2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherLogin2</servlet-name>
    <url-pattern>/TeacherLogin2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminsinsert</display-name>
    <servlet-name>Adminsinsert</servlet-name>
    <servlet-class>com.teacher.Adminsinsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminsinsert</servlet-name>
    <url-pattern>/Adminsinsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminsview</display-name>
    <servlet-name>Adminsview</servlet-name>
    <servlet-class>com.teacher.Adminsview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminsview</servlet-name>
    <url-pattern>/Adminsview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminsdelete</display-name>
    <servlet-name>Adminsdelete</servlet-name>
    <servlet-class>com.teacher.Adminsdelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminsdelete</servlet-name>
    <url-pattern>/Adminsdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admintinsert</display-name>
    <servlet-name>Admintinsert</servlet-name>
    <servlet-class>com.teacher.Admintinsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admintinsert</servlet-name>
    <url-pattern>/Admintinsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admintdelete</display-name>
    <servlet-name>Admintdelete</servlet-name>
    <servlet-class>com.teacher.Admintdelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admintdelete</servlet-name>
    <url-pattern>/Admintdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Functionality</display-name>
    <servlet-name>Functionality</servlet-name>
    <servlet-class>com.teacher.Functionality</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Functionality</servlet-name>
    <url-pattern>/Functionality</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Workshop</display-name>
    <servlet-name>Workshop</servlet-name>
    <servlet-class>com.teacher.Workshop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Workshop</servlet-name>
    <url-pattern>/Workshop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassTest</display-name>
    <servlet-name>ClassTest</servlet-name>
    <servlet-class>com.teacher.ClassTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassTest</servlet-name>
    <url-pattern>/ClassTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Assignment</display-name>
    <servlet-name>Assignment</servlet-name>
    <servlet-class>com.teacher.Assignment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Assignment</servlet-name>
    <url-pattern>/Assignment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Attendance</display-name>
    <servlet-name>Attendance</servlet-name>
    <servlet-class>com.teacher.Attendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Attendance</servlet-name>
    <url-pattern>/Attendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Teachersinsert</display-name>
    <servlet-name>Teachersinsert</servlet-name>
    <servlet-class>com.teacher.Teachersinsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teachersinsert</servlet-name>
    <url-pattern>/Teachersinsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Final1</display-name>
    <servlet-name>Final1</servlet-name>
    <servlet-class>com.teacher.Final1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Final1</servlet-name>
    <url-pattern>/Final1</url-pattern>
  </servlet-mapping>
</web-app>